<% if current_user %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "drum-machine/audio_engine.js" %>
  <%= javascript_include_tag "drum-machine/data_exchange.js" %>
  <%= javascript_include_tag "drum-machine/pattern_maker.js" %>
  <%= javascript_include_tag "drum-machine/song_maker.js" %>
  <%= javascript_include_tag "drum-machine/user_interface.js" %>
  <%= javascript_include_tag "drum-machine/loading.js" %>
<% end %>





<div style = "display:none" class = "user_id" user = <%=current_user.id %>></div>
<div id="nav_container">
  <%= render 'proto_nav' %>
</div>
<div id ="clip_container">

  <%= render 'clip' %>
</div>
<div id ="s_d" style="display:none">
  <%= render 'songContainer' %>
</div>
<div id="clip_library">
  <%= render 'clipLibrary' %>
</div>
<div class = "column" id = "right_column">

</div>


<% else %>
<h1>Please sign in to load clips!</h1>
<% end %>
